body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 24px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #6EC400;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border: 1px solid black
}

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1 {
    color: #007524
}

header {
    background-color: salmon
}

.grey {
    background-color: lightgray;
}

.Mainpage {
    color:white
}

.stars {
    font-style:italic;
    font-weight:600;
}
